# --- 1. RAHASIA & LINGKUNGAN (Paling Penting!) ---
.env
venv/
env/
__pycache__/
*.pyc
.vercel/

# --- 2. DATABASE & FILE UPLOAD ---
*.db
*.sqlite3
uploads/

# --- 3. FLUTTER & DART ---
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# --- 4. ASSET & LOG ---
*.class
*.log
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
app.*.symbols
app.*.map.json

# --- 5. IDE & EDITOR ---
.vscode/
.idea/
*.iml
*.ipr
*.iws

# --- 6. ANDROID/MOBILE ARTIFACTS ---
/android/app/debug
/android/app/profile
/android/app/release